@import "../../styles/core";

.iframe-content {
	display: flex;
	height: 100%;
}

.left-iframe {
	flex-grow: 1;
}

.right-iframe {

}

.divider {
	background: $mid-grey;
	width: 6px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 0;


	&:hover,
	&.moving {
		background: $cyan;
		cursor: ew-resize;
	}
}

.divider-marker {
	background: $off-black;
	height: 15px;
	width: 2px;
	margin: 3px 0;
}

.window-blocker {
	position: fixed;
	inset: 0;
	z-index: 202;
}