@import "../../styles/core";

.about-modal {
	position: fixed;
	inset: 0;
	z-index: 202;
	display: flex;
	justify-content: space-around;
	align-items: center;

	&::before {
		content: "";
		position: fixed;
		inset: 0;
		background: $off-black;
		opacity: 0.5;
	}
}

.about-modal-content {
	background: $cool-white;
	position: relative;
	padding: 20px;
	width: 400px;
}

.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
}

.header {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 20px;
}

.description {

}

.hr {
	background: $mid-grey;
	height: 1px;
	margin: 20px 0;
}

.built-by {
	font-size: 12px;
	margin-bottom: 10px;
}

.built-by-grid {
	display: grid;
	grid-template-columns: 150px 1vh;
	grid-gap: 10px;
}

.built-by-name {

}

.built-by-site {
	color: $cyan;
}