@import "../../styles/core";

.iframe-wrapper {
	height: 100%;
	width: 100%;
	position: relative;

	iframe {
		height: 100%;
		width: 100%;
		border: 0;
	}
}

.size-indicator {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: $light-grey;
	padding: 5px;
	font-weight: bold;
	font-size: 12px;

	&.highlighted {
		background: $cyan;
	}
}