@import "../../styles/core";

.app-footer {
	background: #fff;
	color: $off-black;
	display: flex;
	height: 40px;
	align-items: center;
	padding: 0 10px;
}

.footer-button {
	background: transparent;
	color: $off-black;
	text-decoration: underline;
	border: 0;
	padding: 0;
	display: block;
	font-size: 14px;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover {
		opacity: 0.5;
	}
}

.divider {
	margin: 0 10px;
}